* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #020024, #090979, #000000);
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

* {
  max-width: 100%;
}