.campaigns {

    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;

    min-height: 100vh;

   background: linear-gradient(120deg, #020024, #090979, #000000);


}

/* BANNER */

.campaignBanner {

    background: linear-gradient(160deg, #020024, #5d12b1, #000000);

    padding: 40px;

    border-radius: 14px;

    margin-bottom: 40px;

    color: white;

    text-align: center;

}

.campaignBanner h2 {

    font-size: 32px;

    margin-bottom: 10px;



}

.countdown {

    display: flex;

    gap: 15px;

    justify-content: center;

    margin-top: 15px;

}

.countdown span {

    background: #0f1535;

    padding: 12px 18px;

    border-radius: 8px;

    font-weight: bold;

    font-size: 16px;

}

/* GRID */

.campaignGrid {

    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

    gap: 40px;

    justify-content: center;

    margin-top: 40px;

}

/* CARD */

.campaignCard {

    background: #0f1535;

    border-radius: 14px;

    padding: 25px;

    text-align: center;

    position: relative;

    transition: .3s;



    display: flex;

    flex-direction: column;

    justify-content: center;
    min-height: 300px;
}

.campaignCard:hover {

    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);

}

.campaignCard img {

    width: 150px;
    margin: 0 auto 15px;

    transition: .3s;

}

.campaignCard:hover img {

    transform: scale(1.1);

}

.campaignCard h3 {

    color: white;
    font-size: 18px;
    margin-bottom: 10px;

}

/* PRICE */

.priceArea {

    display: flex;

    gap: 10px;

    justify-content: center;

    margin-bottom: 15px;

}

.oldPrice {

    text-decoration: line-through;
    color: #8a8a8a;

}

.newPrice {

    color: #3aa9ff;
    font-size: 20px;
    font-weight: bold;

}

/* BUTTON */

.campaignCard button {

    background: linear-gradient(35deg, #020024, #5d12b1, #000000);

    border: none;

    padding: 10px 20px;

    border-radius: 8px;

    color: white;

    cursor: pointer;

}

.campaignCard button:hover {

    background: #2ced93;

}

/* DISCOUNT */

.discountBadge {

    position: absolute;

    top: 10px;
    left: 10px;

    background: #ff3b3b;

    padding: 6px 12px;

    border-radius: 6px;

    font-size: 14px;

    color: white;

    font-weight: bold;

}