.profilePage {

    margin-top: 140px;
    min-height: 100vh;

    background: linear-gradient(120deg, #020024, #090979, #000000);

    color: white;

    padding: 0 5%;

}

/* LAYOUT */

.dashboard {

    display: grid;
    grid-template-columns: 250px 1fr;

    gap: 30px;

    max-width: 1200px;
    margin: auto;

}

/* SIDEBAR */

.sidebar {

    background: rgba(255, 255, 255, 0.05);

    padding: 20px;

    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.sidebar h3 {

    margin-bottom: 10px;

}

.sidebar button {

    background: none;
    border: none;

    color: white;

    padding: 10px;

    text-align: left;

    border-radius: 8px;

    cursor: pointer;

    transition: .3s;

}

.sidebar button:hover {

    background: rgba(255, 255, 255, 0.1);

}

.sidebar button.active {

    background: #3aa9ff;

}

/* CONTENT */

.content {

    display: flex;
    flex-direction: column;

}

/* CARD */

.cardBox {

    background: rgba(255, 255, 255, 0.05);

    padding: 25px;

    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;

}

/* INPUT */

.cardBox input,
.cardBox textarea {

    padding: 12px;

    border: none;

    border-radius: 8px;

}

/* BUTTON */

.saveBtn {

    background: #3aa9ff;

    border: none;

    padding: 12px;

    border-radius: 8px;

    color: white;

    cursor: pointer;

}

.saveBtn:hover {

    background: #1e8bd8;

}

/* ORDER */

.orderCard {

    background: rgba(255, 255, 255, 0.08);

    padding: 15px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;

}

/* CREDIT CARD */

.creditCard {

    background: linear-gradient(135deg, #3aa9ff, #1e8bd8);

    padding: 20px;

    border-radius: 12px;

    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;

}

/* MOBILE */

@media(max-width:768px) {

    .dashboard {

        grid-template-columns: 1fr;

    }

    .sidebar {

        flex-direction: row;
        overflow-x: auto;

    }

    .sidebar button {

        white-space: nowrap;

    }

}

.orderTop {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.orderTop span {
    background: #3aa9ff;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
}

.orderProducts {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
}

.orderItemMini {
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgba(255, 255, 255, 0.08);
    padding: 5px 8px;
    border-radius: 6px;
}

.orderItemMini img {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 4px;
}