.products {

    width: 100%;

    padding: 120px 0;

    background: linear-gradient(120deg, #020024, #090979, #000000);

}

.products h2 {

    text-align: center;

    font-size: 34px;

    margin-bottom: 60px;

    color: white;

}

.productsGrid {

    max-width: 1200px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 30px;

}

.productCard {

    background: rgba(255, 255, 255, 0.05);

    border-radius: 14px;

    padding: 20px;

    text-align: center;

    transition: 0.35s;

    border: 1px solid rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(10px);

    color: white;

    position: relative;

}

.productCard:hover {

    transform: translateY(-10px);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);

}

.productImage {

    height: 180px;

    display: flex;

    align-items: center;

    justify-content: center;

    margin-bottom: 10px;

}

.productImage img {

    max-width: 100%;

    max-height: 160px;

    object-fit: contain;

    transition: 0.35s;

}

.productCard:hover img {

    transform: scale(1.1);

}

.price {

    color: #ffffff;

    font-weight: bold;

    margin-bottom: 10px;

}

.addCartBtn {

    width: 100%;

    height: 40px;

    border: none;

    border-radius: 8px;

    background: #3aa9ff;

    color: white;

    cursor: pointer;

}

.addCartBtn:hover {

    background: #1d8cd6;

}

.discountBadge {

    position: absolute;

    top: 10px;
    left: 10px;

    background: #ff3b3b;

    color: white;

    font-size: 13px;

    font-weight: bold;

    padding: 4px 8px;

    border-radius: 6px;

    z-index: 5;

}